.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(196, 196, 196);
}

.content {
  font-size: x-large;
  font-family: monospace;
  color: rgb(216, 216, 216);
  background-color: rgb(29, 29, 29);
}